body{
    background-color: black;
}
#listy{
    border-collapse: collapse;
}

#listy thead tr{
    background-color: rgb(12, 160, 106);
    color: aliceblue;

}
#listy tbody tr{
    background-color: aliceblue;
    text-align: center;
    border-bottom: solid 3px gray;
}
#listy tbody tr td:nth-child(1){
    color:red;
}
#inp{
    text-align: center;
    
}